.container {
  width: 200px;
  border-radius: 15px;
  overflow: hidden;
  background: var(--dark-blue);
}

.active {
  color: #fff;
}

.container p {
  margin: 0;
}

.info {
  background: var(--violet);
  border-radius: 15px;
  padding: 20px 20px 65px 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.info img {
  height: 65px;
  border: 3px solid;
  border-radius: 50%;
}

.lastWeek {
  font-size: .8rem;
  color: var(--pale-blue);
}

.options {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: var(--pale-blue);
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.options p {
  text-decoration: none;
}
.options p:hover {
  color: #fff;
  cursor: pointer;
}
.name {
  font-size: 1.5rem;
}

@media (max-width: 960px) {
  .container {
    flex-grow: 1;
    max-width: 280px;
  }
  .info, .options {
    flex-direction: row;
  }
  .info {
    justify-content: unset;
    gap: 15px;
    padding: 20px;
    align-items: center;
  }
  .name {
    font-size: 1.1rem;
  }
}
